body{
    background-image:url(Blue\ White\ Motivational\ Modern\ Aesthetic\ Sea\ Desktop\ Wallpaper.png)
    /* height: 800px;
    text-align: center; */
    
    
}
#quote{
    margin-top: 100px;
    margin-left: 450px;
    width: 600px;
    height: 400px;
    background: rgb(141, 14, 183);
    border-style: double  ;
    border-color:black rgb(205, 220, 47) ;
    border-width: 7px ;
    border-radius: .5rem;
    transition: .5s;
    background-color: rgba(240, 234, 234, 0.418); 
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    position: relative;   
}
h1{
    text-align: center;
    font-size: 2.5rem;
    text-decoration: underline;
    text-shadow: 2px 2px white;
}
#quotes{
    
    text-align: center;
    margin-top: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    margin-bottom: 5px;
}
#generate{
    size: 1000%;
    border-radius: 15%;
    cursor: grab;
    margin-top: 30px;
    padding: 15px;
    border-color: rgba(204, 55, 35, 0.696);
    border-style:groove ;
    border-width: 6px;
    background-color: rgb(230, 211, 228);
    color: #070606;
    font-style:inherit;
    font-weight: 120px;
    margin-left: 730px;
    font-size: 25px;
    font-family:'Times New Roman', Times, serif;
}
